<div class="row"></div>
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui pointing menu">
                     <a href="index.php" id="index" class="item"> <!--active"> -->
                       Inicio
                    </a>
                    <a href="Recentes.php" id="recentes" class="item">
                        Recentes
                    </a>
                    <a href="Encomendas.php" id="encomendas" class="item">
                            Encomendas
                    </a>
                    <a href="Usuarios.php" id="usuarios" class="item">
                            Usuarios
                    </a>
                    <!-- <div class="ui pointing dropdown link item">
                            <span class="text">Dropdown</span>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a href="#">
                                    <div class="item">
                                        <span class="text">item1</span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="item">
                                        <span class="text">item2</span>
                                    </div>
                                </a>
                            </div>
                    </div> -->
                    <div class="right menu">
                        <form action="/4lp/Login/logout.php" method='post'>
                            <button type="submit" style="border: none;" class="item">
                                        Sair
                            </button>
                        </form>
                        
                    </div>
                </div>
            